@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  z-index: 1;
}
.menu__item {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}
